{% extends 'navbar.html' %}



{% block content %}
<form method="post">
    <!-- Form fields -->
    <!-- ... -->

    <!-- Submit button -->
    <!-- ... -->
  </form>


{% if messages %}
<script>
  {% for message in messages %}
    {% if message.tags == 'success' %}
      var successMsg = '{{ message|safe }}';
    {% endif %}
    {% if message.tags == 'error' %}
      var errorMsg = '{{ message|safe }}';
    {% endif %}
  {% endfor %}

  if (successMsg) {
    alert(successMsg);
  }
  if (errorMsg) {
    alert(errorMsg);
  }
</script>
{% endif %}
{% endblock %}
