{% extends 'navbar3.html' %}

{% block content %}
<br>
<br>
<div class="container" style="border: 4px solid black; box-shadow: 0 6px 6px rgba(0, 0, 0, 0.9); width: 90%; background-color: white;">
    <h1 class="text-center">Interview Schedule</h1>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Job Title</th>
                <th>Employee Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Location</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% if interviews %}
                {% for interview in interviews %}
                    <tr>
                        <td>{{ interview.job_listing.title }}</td>
                        <td>{{ interview.employee.user.username }}</td>
                        <td>{{ interview.date }}</td>
                        <td>{{ interview.time }}</td>
                        <td>{{ interview.location }}</td>
                        <td>{{ interview.description }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6" class="text-center" style="font-size: 30px;">No interview schedules yet.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<footer style="background-color:black; padding: 20px;">
    <div class="footer-content d-flex justify-content-between align-items-center flex-wrap">
      <div class="left-content text-center">
        <p class="clinic-name" style="font-size: 25px; color: white; margin-bottom: 0;">
          Email</p>
        <p class="address" style="font-size: 25px; color: white; margin-bottom: 0;font-size:28px;">rashin@gmail.com</p>
        <br>
        <p class="address" style="font-size: 25px; color: white; margin-bottom: 0;">Address</p>
        <p class="address" style="font-size: 25px; color: white; margin-bottom: 0;font-size:30px;">Kannur City  </p>
        <p class="address" style="font-size: 25px; color: white; margin-bottom: 0;font-size:30px;">In Kerala
          <p class="address" style="font-size: 25px; color: white; margin-bottom: 0;font-size:30px;">India CA 94158

        </div>
        <div class="center-content text-center">
          <p class="center-paragraph" style="font-size: 25px; color: white; margin-bottom: 0;">About Us anything</p>
          <p class="center-paragraph" style="font-size: 25px; color: white; margin-bottom: 0;">FAQ</p>

        </div>
      <div class="right-content text-center">
        <p class="tel" style="font-size: 25px; color: white; margin-bottom: 0;">Tel</p>
        <p class="tel" style="font-size: 30px; color: white; margin-bottom: 0;">123-456-7890</p>
        <br>
        <p class="tel" style="font-size: 25px; color: white; margin-bottom: 0;">Follow Us</p>
        <p class="tel" style="font-size: 25px; color: white; margin-bottom: 0;font-size:30px;">Instagram</p>
        <p class="tel" style="font-size: 25px; color: white; margin-bottom: 0;font-size:30px;">Facebook</p>
        <p class="tel" style="font-size: 25px; color: white; margin-bottom: 0;font-size:30px;">Twitter</p>
      </div>
    </div>
  </footer>


  {% if messages %}
  <script>
    {% for message in messages %}
      {% if message.tags == 'success' and message.message == 'Interview scheduled successfully.' %}
        var alertMsg = '{{ message|safe }}';
      {% endif %}
    {% endfor %}

    if (typeof alertMsg !== 'undefined') {
      alert(alertMsg);
    }
  </script>
{% endif %}
{% endblock %}
